.DS_Store
.idea

*.tgz

*.ts
!*.d.ts
*.js.map

.github
.gitignore

build.*
clean.*
test.*

packages
docs
test

tsconfig.json

cli.d.ts
info.d.ts

CommandInterface.d.ts
Commands.d.ts

prepare.*
pack.*


